{{ define "main" }}
<h1>{{ .Title }}</h1>
{{ .PublishDate.Format "Jan. 2, 2006" }}
{{ with .Params.linkedin }}
// <a href="{{ . }}">Linkedin</a>
{{ end }}
{{ with .Params.twitter }}
// <a href="{{ . }}">Twitter</a>
{{ end }}
<br /><br />
{{ .Content }}
<div class="post-navigation">
    {{ if .PrevInSection }}
    <a class="prev-post" href="{{ .PrevInSection.Permalink }}">« {{ .PrevInSection.Title }}</a>
    {{ else }}
    <span class="prev-post disabled">« no previous post</span>
    {{ end }}

    {{ if .NextInSection }}
    <a class="next-post" href="{{ .NextInSection.Permalink }}">{{ .NextInSection.Title }} »</a>
    {{ else }}
    <span class="next-post disabled">no next post »</span>
    {{ end }}
</div>
{{ template "_internal/disqus.html" . }}

<style>
    ::-webkit-scrollbar-thumb {
        background: {{.Params.color | default "#246A73"}};
    }
    ::-webkit-scrollbar-thumb:hover {
        background: {{.Params.secondary_color | default "#19565e" }};
    }
</style>


{{ end }}